Source: python3-n4d-client
Section: libs
Priority: optional
Maintainer: Enrique Medina Gremaldos <quique@necos.es>
Build-Depends: debhelper-compat (=13), python3, dh-python, python3-minimal, python3-setuptools
Standards-Version: 4.6.0
Rules-Requires-Root: no
Homepage: https://github.com/edupals/

Package: python3-n4d-client
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-n4d-base
Description: python n4d client libs
 Python N4D client library
